<div class="card text-white bg-info mb-3" style="max-width: 50rem; height: 20rem;">
  <div class="card-header">Mensaje</div>
  <div class="card-body">
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>
</div>
<table class="table">
    
  <tbody>
    <tr>
      <td>Fecha y hora de envio</td>
      <td><button type="button" class="btn btn-success ">Programar</button>
      <button type="button" class="btn btn-danger">Cancelar</button></td>
    </tr>
    <tr>
      <td>Destinatario</td>
    </tr>  
  </tbody>
</table>
