<nav class="navbar navbar-dark bg-primary">
  <label for="">EMAIL: ataxias@atar.org.ar</label>

  <label for="">TELEFONO: (011) 4585-1290 de lunes a viernes de 18 a 22hs</label>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Colabora</a>
    </div>
  </nav>
</nav>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="http://atar.org.ar/images/atar.jpg" height="100">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Asociacion</a>
      <a class="nav-item nav-link" href="#">Contacto</a>

      <a class="nav-item nav-link" href="#">Asociate</a>

      <a class="nav-item nav-link" href="#">Centros</a>
      
      <a class="nav-item nav-link" href="#">Nombre Usuario</a>
    </div>
  </div>
</nav>

<h2>Listado Articulos <button type="button" class="btn btn-success btnspacer">Modificar</button></h2>
<div>

  <table class="table">
    
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Articulo</td>
        <td><button type="button" class="btn btn-primary btnspacer">Modificar</button>
        <button type="button" class="btn btn-danger">Borrar</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Articulo</td>
        <td><button type="button" class="btn btn-primary btnspacer">Modificar</button>
        <button type="button" class="btn btn-danger">Borrar</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Articulo</td>
        <td><button type="button" class="btn btn-primary btnspacer">Modificar</button>
        <button type="button" class="btn btn-danger">Borrar</button></td>
      </tr>
    </tbody>
  </table>
  